* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  margin: 10rem;
  padding: 1rem 2rem;
  background: none;
  border: 0.2rem solid rgb(111, 82, 207);
  color: #fff;
  font-size: 1.4rem;
  border-radius: 1rem;
  background-color: rgb(111, 82, 207);
}
